* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  width: 400px;
  height: 750px;
  border: solid black;
}

.main-container {
  width: 100%;
  height: 300px;
  border: solid red;
  transform: scaleY(5);
  margin-top: 1000px;
}
