* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main-container {
  width: 100%;
  height: 155vh;
  align-content: start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 25%;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
}

.box-1 {
  background-color: white;
  grid-column: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 160px;
}

.text {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 4%;
  padding-right: 4%;
}

.IPHONE {
  font-size: 12px;
  color: #9fa3a7;
  font-family: "Inter", sans-serif;
}

h3 {
  width: 300px;
  font-size: 22px;
  font-family: "Arvo", serif;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 20px;
}

.gray-text {
  font-size: 14px;
  color: #9fa3a7;
  font-family: "Open Sans", sans-serif;
}

.phone-img {
  margin-top: 40px;
  display: flex;
  align-items: end;
}

.box-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f8f9;
  grid-column: 3/5;
}

.p1 {
  color: #27b9c2;
}

.dow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.IPHONE-1 {
  font-size: 12px;
  color: #9fa3a7;
  font-family: "Inter", sans-serif;
}

.q3 {
  width: 550px;
  height: 180px;
  font-size: 48px;
  font-family: "Arvo", serif;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  align-items: center;
}

.box-3 {
  background-color: #f05638;
  grid-column: 1;
  grid-row: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-3 {
  width: 230px;
  height: 64px;
  font-size: 22px;
  font-family: "Arvo", serif;
  color: #fffbfb;
  padding-left: 20px;
}

.a2 {
  display: flex;
  justify-content: center;
}

.a1 {
  color: #ffc80a;
}

.arrow-link {
  display: inline-block;
  margin-top: 20px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.4px;
  text-decoration: none;
  text-transform: uppercase;
}

.box-4 {
  background-color: white;
  grid-column: 2/4;
}

.box4 {
  width: 90%;
  height: 82%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 30px;
}

.t41 {
  width: 180px;
  height: 20px;
}

.t42 {
  width: 180px;
  height: 96px;
  font-size: 22px;
  font-family: "Arvo", serif;
  margin-top: 10px;
  margin-bottom: 54px;
}

.t43 {
  width: 310px;
}

.t44 {
  color: #9fa3a7;
  line-height: 26px;
  font-size: 14px;
}

.t45 {
  color: #27b9c2;
}

.t46 {
  width: 180px;
}

.display {
  width: 450px;
  position: relative;
  left: -290px;
  max-width: none;
  margin-top: 78px;
  align-items: end;
}

.box-5 {
  background-color: #8f76bc;
  grid-column: 4;
  grid-row: 2/4;
  display: flex;
  justify-content: center;
}

.d1 {
  width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cilender {
  width: 380px;
  height: 380px;
  border-radius: 50%;
  background-color: #8166b0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tex-block {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 120px;
  background-color: #8f76bc;
  border-radius: 60px;
  color: #f7f8f9;
  font-weight: 700;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2.4px;
  text-align: end;
}

.t53 {
  font-size: 12px;
  color: white;
  font-family: "Inter", sans-serif;
  letter-spacing: 2.4px;
}

.t52 {
  margin-top: 20px;
}

.icloud {
  width: 420px;
  font-size: 32px;
  font-family: "Arvo", serif;
  color: white;
  text-align: center;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 20px;
}

.t51 {
  width: 80%;
  max-width: 290px;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
  letter-spacing: 2.4px;
}

button {
  margin-top: 30px;
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  color: black;
  background-color: #ffc80a;
  padding: 14px 28px;
  border-radius: 50px;
  letter-spacing: 2.4px;
}

.box-6 {
  background-color: #f7f8f9;
  grid-row: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.d2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.t61 {
  position: relative;
  left: -30px;
}

.t62 {
  color: #333;
  font-size: 22px;
  font-family: "Arvo", serif;
  margin-top: 10px;
  margin-bottom: 20px;
  text-align: center;
}

.t63 {
  color: #27b9c2;
}

.box-7 {
  background-color: #93b6b7;
  grid-column: 2/4;
}

.t71 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 25px;
  background-color: #f05638;
  border-radius: 8px;
  font-size: 10px;
  color: white;
  font-weight: 300;
  letter-spacing: 2.4px;
  margin-top: 20px;
  margin-left: 30px;
}

.t72 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.t73 {
  width: 210px;
  font-size: 22px;
  font-family: "Arvo", serif;
  color: #fffbfb;
  padding-top: 31px;
  padding-bottom: 31px;
  line-height: 32px;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.t74 {
  position: relative;
  left: -80px;
  margin-top: 40px;
}

.box-8 {
  background-color: #38d5f4;
  grid-column: 1;
  grid-row: 4;
  display: flex;
  justify-content: center;
}

.d3 {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #35cfed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t81 {
  width: 172px;
  height: 64px;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: "Arvo", serif;
  color: white;
  text-align: center;
}

.box-9 {
  background-color: #f7f8f9;
  grid-column: 2/3;
  grid-row: 4;
  display: flex;
  align-items: center;
}

.d4 {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.t91 {
  width: 100px;
  height: 25px;
  font-size: 11px;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  background-color: #7bc424;
  color: white;
  font-weight: 900;
  letter-spacing: 2.4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.t92 {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 22px;
  font-family: "Arvo", serif;
  color: #333;
}

.box-10 {
  background-color: #2c2c2c;
  grid-column: 3/5;
  display: flex;
  flex-direction: row;
}

.TV {
  position: relative;
  left: -50px;
}

.T1 {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.T10 {
  width: 310px;
  height: 64px;
  font-family: "Arvo", serif;
  font-size: 22px;
  color: #f7f8f9;
  margin-top: 10px;
  margin-bottom: 20px;
  font-weight: 300;
  text-align: center;
}

.w1 {
  height: 250px;
}

.w2 {
  height: 250px;
}

@media only screen and (max-width: 991px) {
  .main-container {
    width: 100%;
    height: 155vh;
    align-content: start;
    display: grid;
    grid-template-columns: 1fr 50%;
    grid-template-rows: 2fr 2fr 2fr 2fr 2fr 2fr 1fr 1.5fr;
  }
  .box-1 {
    grid-row: 2;
    grid-column: 1/3;
  }

  .box-2 {
    grid-row: 1;
    grid-column: 1/3;
  }

  .box-3 {
    grid-row: 3;
    grid-column: 1/2;
  }

  .box-4 {
    grid-row: 3;
    grid-column: 2/3;
  }

  .box-5 {
    grid-column: 2/3;
    grid-row: 5/7;
  }

  .box-6 {
    grid-row: 4;
    grid-column: 1/3;
  }

  .box-7 {
    grid-row: 5;
    grid-column: 1;
  }

  .box-8 {
    grid-row: 6;
    grid-column: 1;
  }

  .box-9 {
    grid-row: 7;
    grid-column: 1/3;
  }

  .box-10 {
    grid-row: 8;
    grid-column: 1/3;
  }
}

@media only screen and (max-width: 479px) {
  .main-container {
    width: 100%;
    height: 155vh;
    align-content: start;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2fr, 10);
  }
  .box-1 {
    grid-row: 2;
    grid-column: 1;
  }

  .box-2 {
    grid-row: 1;
    grid-column: 1;
  }

  .box-3 {
    grid-row: 3;
    grid-column: 1;
  }

  .box-4 {
    grid-row: 4;
    grid-column: 1;
  }

  .box-5 {
    grid-column: 1;
    grid-row: 5;
  }

  .box-6 {
    grid-row: 6;
    grid-column: 1;
  }

  .box-7 {
    grid-row: 7;
    grid-column: 1;
  }

  .box-8 {
    grid-row: 8;
    grid-column: 1;
  }

  .box-9 {
    grid-row: 9;
    grid-column: 1;
  }

  .box-10 {
    grid-row: 10;
    grid-column: 1;
  }
}
